<li class="active">
    <a class="accordion-toggle menu-open" href="#">
        <span class="fa fa-dashboard"></span>
        <span class="sidebar-title">RAIDS</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li class="active">
            <a href="{% url 'dashboard:home' %}">
                <span class="fa fa-file-text-o"></span> Latest Raids
            </a>
        </li>
        <li>
            <a href="{% url 'dashboard:raids_add' %}">
                <span class="fa fa-file-text-o"></span> Report a Raid
            </a>
        </li>
    </ul>
</li>