{% extends "dashboard/abstract/utility-base.html" %}

{% block content %}
<!-- -------------- Login Form -------------- -->
<div class="allcp-form theme-primary mw320" id="login">
    <div class="text-center mb20"><img src="/static/img/logo-lg.png" class="img-responsive"
                                       alt="Logo"/></div>
    <div class="panel mw320">
        <p>You have been successfully logged out.</p>
        <p>Click <b><a href="/login/">here</a></b> to go back to the login page.</p>
    </div>
    <!-- -------------- /Panel -------------- -->
</div>
<!-- -------------- /Spec Form -------------- -->
{% endblock content %}